DT_COMPAT_ZMK_BEHAVIOR_TURBO_KEY := zmk,behavior-turbo-key

config ZMK_BEHAVIOR_TURBO_KEY
	bool
	default $(dt_compat_enabled,$(DT_COMPAT_ZMK_BEHAVIOR_TURBO_KEY))

config ZMK_BEHAVIOR_TURBO_KEY_MAX_HELD
	int "Maximum simultaneous turbo keys"
	default 4
	depends on ZMK_BEHAVIOR_TURBO_KEY
